body {
  margin: 0;
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}